<html>
<head>
  <meta charset="utf-8">
</head>

<!-- 조건문과 반복문 -->
<body>
	<!-- 
	- 엘리먼트의 표시 여부 제어는 간단하다.
	- Vue에서는 텍스트와 속성뿐 아니라 DOM의 구조에도 데이터를 바인딩 할 수 있음.
	- Vue 엘리먼트가 Vue에 삽입/업데이트/제거될 때 자동으로 전환효과(Transition Effects)가 적용되는 강력한 전화 효과 시스템 제공.
	-->
	<div id="conditional-rendering">
		<span v-if="seen">이제 나를 볼 수 있어요.</span>
	</diV>
	
	<!--
	- v-for 디렉티브는 배열에서 데이터를 가져와 아이템 목록을 표시하는데 사용할 수 있음.
	-->
	<div id="list-rendering">
		<ol>
			<li v-for="todo in todos">
				{{ todo.text }}
			</li>
		</ol>
	</div>
	
</body>

<script src="https://unpkg.com/vue@next"></script>
<script type="text/javascript">
	const ConditionalRendering = {
		data() {
			return {
				// 실행 효과를 확인하기 위해 true를 false로 바꾸면 메시지가 출력되지 않음.
				seen: true
			}
		}
	}

	const ListRendering = {
		data() {
			return {
				todos: [
					{ text: 'Learn JavaScript' },
					{ text: 'Learn Vue' },
					{ text: 'Build something awesome' }
				]
			}
		}
	}

	Vue.createApp(ConditionalRendering).mount('#conditional-rendering')
	Vue.createApp(ListRendering).mount('#list-rendering')
</script>

</html>